:root {
  --primary-color: #185ee0;
  --secondary-color: #e6eef9;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url(./Assets/left-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  overflow: scroll;
  padding-bottom: auto;
}

#left-sec {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 7% 80px;
}

#left-sec h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #464546;
}

#left-sec h1 span {
  font-size: 5rem;
  color: #fefefe;
}

#right-sec {
  height: 100%;
  /* background-color: rgba(#e6eef9, 0.5);
   */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9px 80px;
}

#formWrapper {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding: 3%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  margin-top: 1vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
}

.topContainer {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.25rem;

  width: 100%;
  border-radius: 99px;
}
.tabs * {
  z-index: 2;
}
input[type="radio"] {
  display: none;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 48.9%;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  margin-bottom: 0px;
}

.tab2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 48.9%;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  margin-bottom: 0px;
}

input[type="radio"]:checked + label {
  color: var(--primary-color);
}
input[type="radio"]:checked + label > .notification {
  background-color: var(--primary-color);
  color: #fff;
}
input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}
input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}
input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

input[id="radio-10"]:checked ~ .glider {
  transform: translateX(0);
}
input[id="radio-20"]:checked ~ .glider {
  transform: translateX(100%);
}
input[id="radio-30"]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 41.2px;
  width: 48.9%;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

#email {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 10px;
  height: 100%;
  border-radius: 99px;
}

input[id="radio-1"]:checked ~ .glider2 {
  transform: translateX(0);
}
input[id="radio-2"]:checked ~ .glider2 {
  transform: translateX(100%);
}
input[id="radio-3"]:checked ~ .glider2 {
  transform: translateX(200%);
}

input[id="radio-10"]:checked ~ .glider2 {
  transform: translateX(0);
}
input[id="radio-20"]:checked ~ .glider2 {
  transform: translateX(100%);
}
input[id="radio-30"]:checked ~ .glider2 {
  transform: translateX(200%);
}

.glider2 {
  position: absolute;
  display: flex;
  height: 41.2px;
  width: 48.9%;
  background-color: var(--secondary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}
/* @media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
 }
} */

input[type="submit"] {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  height: 41.2px;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
  border: none;
  outline: none;
  margin: 0 auto;
  font-size: 1.15rem;
  font-weight: 700;
  height: 46px;
  margin-top: 5px !important;
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: 0.25s ease-in-out;
}

.dist {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dist div {
  width: 33.3%;
  border-radius: 6px;
  background-color: transparent;
  border: none;
}

.dist input[type="text"],
input[type="date"] {
  width: 100%;
  height: 80px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 5px;
}

.date input[type="date"] {
  max-width: 70%;
  height: 80px;
  border: none;
  outline: none;
  border-bottom: 2px solid #e0e0e0;
  padding-left: 5px;
}

.distMid {
  width: 43px !important;
}

.selectPass {
  width: 100%;
}

.selectPass input[type="select"] {
  width: 100px !important;
}

.policy {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
}

.policy label {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 10px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  border-radius: 16px;
  overflow: hidden;
}

.d-flex .rightInp {
  margin-left: 10px;
  width: 100%;
}

.d-flex .rightInp input[type="text"] {
  width: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  height: 62px;
  max-height: 62px;
  font-size: 1rem !important;
}

.d-flex .leftIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 62px;
  width: 54px;
  color: #464546;
  padding-left: 8px;
}

#nonStop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  border-radius: 16px;
  overflow: hidden;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 1px 0px rgba(24, 94, 224, 0.15),
    0 6px 12px 4px rgba(24, 94, 224, 0.15);
  overflow: hidden;
  height: 60px;
  margin-bottom: 8px;
  margin-top: 5px;
  max-width: 150px;
  border-radius: 6px;
  padding-left: 10px !important;
}

.date2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 6px;
  margin-top: -0px;
  padding: 5px 10px 0px 5px;
}

.pass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15);
  border-radius: 6px;
  overflow: hidden;
  height: 62px;
  margin-bottom: 0px;
  width: 100%;
  max-width: 28%;
  margin-top: -10px;
}

.arrange {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.arrange strong {
  text-align: left !important;
  color: gray;
  font-size: 14px;
}

.counter {
  font-size: 22px !important;
  color: var(--primary-color) !important;
}

.arrange button {
  border: none;
  width: 25px;
  height: 25px;
  margin: 2.5px 1px;
  border-radius: 2px;
  font-weight: 700;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.85rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrange button:hover {
  background-color: var(--primary-color);
  color: #fff;
  transition: 0.25s ease-in-out;
}

input[type="select"] {
  width: 173px !important;
}

.MuiFormControl-root {
  height: 35px;
  width: 170px;
  margin-left: 15px !important;
}

.MuiInputBase-input {
  width: 172px;
  max-width: 173px;
  padding: 7px 10px !important;
  border-bottom: none !important;
}

.MuiInput-underline:after {
  display: none !important;
}

.MuiInput-underline:before {
  display: none !important;
}

.MuiFormLabel-root {
  margin-left: 10px;
}

.counter {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.suggestions {
  position: relative;
  width: 350px;
}

.suggestions ul li {
  position: absolute;
  list-style-type: none;
  width: 100%;
}

@media (max-width: 767px) {
  .mainRow {
    display: flex !important;
    flex-direction: column !important;
    height: 100%;
    width: 100%;
  }

  #left-sec {
    background: linear-gradient(
        to bottom,
        rgba(21, 21, 22, 0.4) 0%,
        rgba(21, 21, 22, 0.4) 100%
      ),
      url(./Assets/mobile-bg2.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100% !important;
    max-height: 400px;
    padding-top: 15%;
    padding-bottom: auto !important;
  }

  #left-sec h1 {
    transform: translateY(0%);
    font-size: 4rem;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column !important;
    letter-spacing: 10px;
    justify-content: center;
    align-items: center;
  }

  #left-sec h1 span {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  #right-sec {
    margin: 0;
    width: 100%;
    bottom: 0 !important;
    left: 0;
    padding: 0;
    justify-content: flex-end;
    height: auto;
  }

  #formWrapper {
    border-radius: 0px;
    bottom: 0 !important;
    left: 0;
    margin: 0 !important;
  }

  .col-6 {
    max-width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #formWrapper {
    margin-right: 100px;
  }
}

.content {
  position: relative;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon
  .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  padding-right: 0px !important;
  width: 100% !important;
  height: 60px !important;
}

.MuiFormControl-root {
  margin-left: 0px !important;
  height: 50px !important;
  margin: 10px 0px;
  margin-top: 12px !important;
  border: none !important;
  outline: none !important;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 6px 12px 0 rgba(24, 94, 224, 0.15) !important;
}

.MuiFormLabel-root {
  margin-left: 0px !important;
}

.MuiFormControl-root {
  box-shadow: none !important;
}
