body {
  margin: 0;
  padding: 0px;
  top: 0;
  left: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-fluid,
.container,
.row,
.col {
  padding: 0;
  margin: 0;
}

.collapse {
  z-index: 999 !important;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
  max-height: 56px !important;
  max-width: 100% !important;
  margin-left: 5px !important;
}
